<%= form_for(@task) do |task| %>

  <div>
    <%= task.label :title %>
    <%= task.text_field :title %>
  </div>
  <br />

  <div>
    <%= task.label :task_completed %>
    <%= task.check_box :completed %>
  </div>
  <br />

  <div>
    <%= task.label :due_at %>
    <%= task.date_field :due_at %>
  </div>
  <br />
  <div>
    <%= task.submit 'Save' %>
  </div>

<% end %>
